<div class="zerogrid">
    <div class="col-full">
        <div class="wrap-col">
            <div class="text-center footer-heading">24 Hours Italian Restaurant</div>
            <br>
            <div class="row">

                <div class="col-md-3">
                    <div><h4><strong>About Italian Restaurant</strong></h4></div>
                    <div>About Restaurant</div>
                    <div>Careers</div>
                </div>

                <div class="col-md-2">
                    <div><h4><strong>Menu</strong></h4></div>
                    <div>Dine@Home Menu</div>
                </div>

                <div class="col-md-2">
                    <div><h4><strong>Privacy</strong></h4></div>
                    <div>Privacy Policy</div>
                    <div>Terms of Use</div>
                </div>

                <div class="col-md-2">
                    <div><h4><strong>Booking</strong></h4></div>
                    <div>Dine@Home</div>
                </div>

                <div class="col-md-2">
                    <div><h4><strong>FAQs</strong></h4></div>
                    <div>Contact Us FAQs</div>
                    <div>Dine@Home FAQs</div>
                    <div>Vouchers FAQs</div>
                    <div>Modern Slavery</div>
                    <div>Statement</div>
                </div>

            </div>
        </div>
    </div>
</div>



